/*
Comentário
*/
h1{
	margin: 0px 0px 0px 0px;
	color: blue;
	background-color: rgbs(0,0,0,10%);
	font-family: 'Pacifico', cursive;
}
h1:hover{ /*Passar com mouse por cima*/
	background-color: red;
	cursor:help;
}

p{
	border-color: red;
	width:700px;
	background-color: rgba(0,0,0,10%)
}

h2::before{
	content: "»";
	color:red;
}

h1::first-letter{
	color:white;
	font-size: 130%;
}

h2{
	margin-left: 55px;
	background-color: rgba(0,0,0,10%);
	font-family: 'Pacifico', cursive;
	padding: 4px 2px 2px 2px
}
body{
	background-color: #EEEE22;
	background-image: url(" https://static.cineclick.com.br/sites/adm/uploads/banco_imagens/77/1260x530_1520542770.jpg");
	background-repeat: no-repeat; /*repeat*/
	background-attachment: fixed; /*scroll*/
	background-position: center center; /*30% 30% ou 10px 20px*/
	background-size: cover;

	text-indent: 0%;
	text-decoration: underline; /*underline, overline, line-through*/
	text-transform: capitalize; /*lowercase, uppercase*/
	letter-spacing: 0.2em;

	border-radius: 118px 118px 200px 200px;
	-moz-border-radius: 118px 118px 200px 200px;
	-webkit-border-radius: 118px 118px 200px 200px;
	border: 20px solid #000000;
	border-color: #ff00ff;
}
p{
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	font-family: arial, sans-serif;
	color: #993399;
}